.titleContainer {
  display: flex;
  align-items: center; /* 让子元素在垂直方向上居中对齐 */
}

.title {
  padding: 15px 20px;
  font-size: 18px;
  margin-right: 10px; /* 给右边的组件一些间距 */
}

.divider {
  margin: 0;
  padding: 0;
}

.messages {
  padding: 20px;
  height: calc(100% - 155px);
  overflow: auto;
}

.input {
  border-radius: 0;
  border: none;
  resize: none !important;
}

.submitButton {
  width: 100%;
  border-radius: 0;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
}
